
    <div class="col-lg-10">
        <div class="container text-center">
            <form class="form-signin" action="/auth/local" method="post">
                <h2>Sign in</h2>

                <small class="text-muted">Connect [sailngMongoDB] with your favorite social network</small>
                <br><br>


                <p>
                    <a class="btn btn-primary social-login-btn social-facebook" href="/auth/facebook"><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-primary social-login-btn social-twitter" href="/auth/twitter"><i class="fa fa-twitter"></i></a>
                </p>
                <p>
                    <a class="btn btn-primary social-login-btn social-linkedin" href="/auth/linkedin"><i class="fa fa-linkedin"></i></a>
                    <a class="btn btn-primary social-login-btn social-google" href="/auth/google"><i class="fa fa-google-plus"></i></a>
                </p>

                <small class="text-muted">Or sign in with [your service]</small>
                <br><br>

                <input id="InputUsername" name="identifier" class="ember-view ember-text-field form-control login-input" placeholder="Email Address" type="text">
                <input id="InputPassword" name="password" class="ember-view ember-text-field form-control login-input-pass" placeholder="Password" type="password">



                <button class="btn btn-lg btn-success btn-block btn-center" type="submit" data-bindattr-3="3">Sign in</button>
                <br>
                <small class="create-account text-muted">Dont have a [sailngMongoDB] or social network account? <a href="/register" class="btn btn-sm btn-default"> Sign Up </a> </small>
            </form>
        </div>



    </div>

