
<h2>Messages</h2>
<!--<span ng-if="currentUser.role=='4'" class="animate-if">-->
 <!--<h3> user: {{currentUser.first_name}} role: {{currentUser.role}}    </h3>-->
<!--</span>-->

<p ng-show="!currentUser"><a href="/register">Register</a> to post a message!</p>
<div class="container" ui-view="message">
<div class="row">
    <div class="col-md-7">
        <form role="form" ng-submit="createMessage(newMessage)">
            <div class="form-group">
                <label for="messageTitle">Your Message <i class="fa fa-comments"></i></label>
                <input type="text" ng-model="newMessage.title" class="form-control" id="messageTitle"
                       ng-disabled="!currentUser">

                <label for="messageDate">Date/Time  </label>

                <div class="row">
                    <div class="col-sm-4">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="EEE MM/dd/yyyy"
                                   ng-model="newMessage.date" is-open="opened" min="minDate" max="'2015-06-22'"
                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                   ng-required="true" close-text="Close"/> <button class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>

                    </div>

                </div>


                <div class="row">
                    <div class="col-xs-6">

                    <button class="btn btn-sm btn-info" ng-click="today()">Today</button>
                    <button class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
                    </div>


                </div>


                <hr/>
           </div>

            <button type="submit" class="btn btn-primary" ng-disabled="!currentUser || !newMessage.title">Submit
            </button>
        </form>
    </div>

    <div class="col-md-12">

        <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
        <p><strong>Sorting:</strong> {{tableParams.sorting()|json}}

        <table ng-table="tableParams" class="table">
            <tr ng-repeat="message in  $data">


                <td data-title="'title'" sortable="'title'">
                    <span ng-class="{ 'fa fa-info-circle': todo.title == '666','fa fa-dot-circle-o': todo.title != '666' }">&nbsp; {{ message.title}}</span>
                </td>
                <td sortable="'date'" data-title="'date'">
                    {{message.date |  date : format }}
                </td>


                <td sortable="'username'" ng-show="currentUser.role==='4'" data-title="'username'">
                {{message.user.username  }}/ {{message.user.role}}

                </td>
                <td sortable="'status'" data-title="'status'">
                    {{message.status  }} {{stats[message.status].name}}
                </td>


                <td data-title="'chg status2'">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="fetchMessage(message)"
                            ng-show="currentUser.role ==='4'"><i class="fa fa-exchange"></i></button>
                </td>
                <td data-title="'chg status3'">
                    <button type="button" class="btn btn-success btn-xs" ng-click="fetchedMessage(message)"
                            ng-show="currentUser.role ==='4'"><i class="fa fa-flag-checkered"></i></button>
                </td>
                <td data-title="'trash'">
                    <button type="button" class="btn btn-danger btn-xs" ng-click="destroyMessage(message)"
                            ng-show="currentUser.role =='4' || currentUser.id == message.user.id"><i class="fa fa-trash-o"></i></button>
                </td>


            </tr>
            </tbody>
        </table>

    </div>
   <!-- <div class="col-md-12">

    <div class="container">
        <pre>
        $state = {{$state.current.name}}
        $stateParams = {{$stateParams}}
        </pre>
    </div>
    </div>


    </div>-->
</div>