<style>
body {
padding: 10px !important;
}

.ng-table-rowselected tr {
    cursor: pointer;
}
.emp{
 background-color: #ffff00 ;
 color: lightcoral;
}
.ng-table .plus, .ng-table .minus {
font-weight: bold;
padding-left: 18px;
position: relative;
}
.ng-table .plus:before, .ng-table .minus:before {
content:"";
border-width: 4px;
border-style:solid;
left: 8px;
top: 50%;
position: absolute;
margin-top: -2px;
}
.ng-table .plus {
color: green;
}
.ng-table .plus:before {
border-color: green;
border-top:none;
border-left:4px solid transparent;
border-right:4px solid transparent;
}
.ng-table .minus {
color: red;
}
.ng-table .minus:before {
border-color: red;
border-bottom:none;
border-left:4px solid transparent;
border-right:4px solid transparent;
}
.my-toggle-animation {
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;

    background:white;
    padding:10px;
    border:1px solid black;
    color:black;
}

.my-toggle-animation.disabled {
    background:grey;
    color:#555;
    border-color:#555;
}

.animate-enter,
.animate-leave
{
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}
</style>
        </br>
</br>



<h2>Parking Messages v1.0.5</h2>
<span ng-if="currentUser.role === '3'" class="animate-if">
 <h3> CarInfo: {{currentUser.first_name}} / {{currentUser.no}}
    {{currentUser.make}}    {{currentUser.model}}    {{currentUser.year}}   {{currentUser.plate}}
    {{currentUser.state}}
    {{currentUser.color}}
    {{currentUser.bodytype}}</h3>
</span>

<!--<div ng-init="disabled=false">-->
    <!--<button ng-click="disabled=!disabled">Toggle Disable</button>-->
    <!--&lt;!&ndash;<button ng-click="disable()">Toggle Disable</button>&ndash;&gt;-->
    <!--<div ng-class="{disabled:disabled}" class="my-toggle-animation">-->
        <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit...-->
    <!--</div>-->
<!--</div>-->

<!--<label class="checkbox">-->
    <!--<input type="checkbox" ng-model="autoChanges" class="ng-pristine ng-valid"> Auto Changes-->
<!--</label>-->
<!--<p>Open this page in two browsers and see how easy Sails.js makes realtime applications!</p>-->
<!--<p>mongo-sails 10.rc3 corrupts mongo</p>        -->
<!--http://www.nganimate.org/angularjs/ng-repeat/css3-blink-animation-->
<!--<lu>-->
<!--<li ng-animate="'animate'" ng-repeat="name in names | filter:search" class="ng-scope">-->

<!--</li>-->
<!--</lu>-->



<!--Blink <div >-->
    <!--<blink>I am back!</blink>-->
<!--</div>-->



<p ng-show="!currentUser"><a href="/register">Register</a> to post a message!</p>


<div class="row">
    <div class="col-md-7">
        <form role="form" ng-submit="createMessage(newMessage)">
            <div class="form-group">
                <label for="messageTitle">Your Message <i class="fa fa-comments"></i></label>
                <input type="text" ng-model="newMessage.title" class="form-control" id="messageTitle"
                       ng-disabled="!currentUser">

                <label for="messageDate">Date/Time  </label>

                <div class="row">
                    <div class="col-sm-4">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="EEE MM/dd/yyyy"
                                   ng-model="newMessage.cardate" is-open="opened" min="minDate" max="'2015-06-22'"
                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                   ng-required="true" close-text="Close"/>
                            <button class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                    </div>

                    <div class="col-sm-6">
                        <div ng-model="newMessage.cartime" ng-change="changed()"  style="display:inline-block;">
                            <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>



                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-4">
                    <button class="btn btn-sm btn-info" ng-click="today()">Today</button>
                    <button class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
                    </div>

                    <div class="col-xs-3">
                        Hours step is:
                        <select class="form-control" ng-model="hstep"
                                ng-options="opt for opt in options.hstep"></select>
                    </div>
                    <div class="col-xs-3">
                        Minutes step:
                        <select class="form-control" ng-model="mstep"
                                ng-options="opt for opt in options.mstep"></select>
                    </div>
                </div>


                <hr/>
           </div>

            <button type="submit" class="btn btn-primary" ng-disabled="!currentUser || !newMessage.title">Submit
            </button>
        </form>
    </div>

    <div class="col-md-12">


        <!--user {{currentUser.role}}-->
        <table ng-table="tableParams" class="table ng-table-rowselected">


            <tbody ng-repeat="group in $groups" >
            <tr class="ng-table-group">
                <td colspan="{{$columns.length}}">
                    <a href="" ng-click="group.$hideRows = !group.$hideRows">

                        <span class="fa" ng-class="{ 'fa-chevron-right': group.$hideRows, 'fa-chevron-down': !group.$hideRows }"></span>
                        <strong>{{ group.value }}</strong>
                    </a>
                </td>
            </tr>

            <tr ng-hide="group.$hideRows" ng-repeat="message in group.data "  ng-class="{ 'emp': message.title == '666' }"
                ng-click="message.$selected = !message.$selected; changeSelection(message)"
                ng-class="{'active': message.$selected}">
                <td title="test" >
                     <div data="diff" data-ng-animate="myAnimation">{{ message.diff}}</div>
                </td>
                <td data-title="'diff'" >
                   <span ng-class="{ 'plus': message.diff >= 12,'minus': message.diff <= 12 }">{{ message.diff}}</span>
                </td>
                <td data-title="'title'" sortable="title">
                    <span ng-class="{ 'fa fa-info-circle': message.title == '666','fa fa-dot-circle-o': message.title != '666' }">{{ message.title}}</span>
                </td>
                <td sortable="cardate" data-title="'cardate'">
                    {{message.cardate |  date : format }}
                </td>
                <td sortable="cartime" data-title="'cartime'">
                    {{message.cartime | date:'shortTime' }}
                </td>

                <td sortable="username" ng-show="currentUser.role==='4'" data-title="'username'">
                {{message.user.username  }}/ {{message.user.no}}/ {{message.user.color}}/ {{message.user.model}}

                </td>
                <td sortable="status" data-title="'status'">
                    {{message.status  }} {{stats[message.status].name}}
                </td>


                <td data-title="'out'">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="fetchMessage(message)"
                            ng-show="currentUser.role ==='4'"><i class="fa fa-exchange"></i></button>
                </td>
                <td data-title="'out'">
                    <button type="button" class="btn btn-success btn-xs" ng-click="fetchedMessage(message)"
                            ng-show="currentUser.role ==='4'"><i class="fa fa-flag-checkered"></i></button>
                </td>
                <td data-title="'out'">
                    <button type="button" class="btn btn-danger btn-xs" ng-click="destroyMessage(message)"
                            ng-show="currentUser.role ==='4' || currentUser.id === message.user.id"><i class="fa fa-trash-o"></i></button>
                </td>


            </tr>
            </tbody>
        </table>
    </div>

</div>